

.icon{
  margin-left: 10px;
  align-items: center;
}
.iconButton{
  background-color: transparent;
  border-color: transparent;
  width: 25%;
}
#IconButton{
  background-color: transparent;
  color: transparent;
}
.iconButton:hover{
  background-color: lightgray;
  border-color: lightgray;
}

.editButton{
  color: orange;
  height: 20px;
}
.deleteButton{
  color: red;
  height: 20px;
}
.title{
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* Exemplo de estilo CSS personalizado */
.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha verticalmente os itens no centro */
  background-color: #fff; /* Define a cor de fundo da GridToolbar */
  padding: 8px; /* Adiciona espaçamento ao redor dos botões */
}

/* Estilo CSS para todos os botões na GridToolbar */
.custom-toolbar button {
  background-color: transparent;
  color: #333; /* Define a cor do texto dos botões */
  border: none;
  margin: 0 4px; /* Adiciona margem horizontal entre os botões */
  cursor: pointer;
}

.custom-toolbar button:hover {
  background-color: #dcdcdc; /* Altera a cor de fundo ao passar o mouse sobre os botões */
}

/* Estilo CSS para o botão addButton */
.addButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 25%;
 }

.addButton:hover {
  background-color: #2980b9;
}
.addIcon{
  margin-right: 3%;
}
