.tableTitle{
  background-color: aliceblue;
  margin-top: 5%;
}
.editButton, .deleteButton{
  width: 10%;
  background-color: transparent;
  border-color: transparent;
}
.deleteIcon{
  color: red;
}
.editIcon{
  color: orange;
}
.editButton:hover, .deleteButton:hover{
  color: lightgrey;
  background-color: lightgrey;
  border-color: lightgrey;
}