/* HomePage.css */

.content {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    max-width: 18rem;
  }
  .card-link {
    text-decoration: none; /* Remove o sublinhado */
    color: black; /* Define a cor do texto como preto */
  }
  

